<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>UserForm</title>
    <!-- {{!-- Uncomment for Offline Use --}} {{!--
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"> --}} -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background: #002143;">
        <div class="container">
            <a class="navbar-brand" href="/">UserForm&nbsp;
                <i class="fa fa-yelp fa-lg"></i>
            </a>
            <button class="navbar-toggler clickable" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link" href="/form">Create Form</a>
                    </li>

                  </ul>

            </div>
        </div>
    </nav>
    <!-- <div class="container">
        {{{body}}}
    </div> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>